---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>计算机视觉，推荐系统，风控</li>
            <li>瞎折腾</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/UncleLLD" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://blog.csdn.net/uncle_ll" target="_blank"> CSDN</a>
            </li>
            <li>
              <a href="https://juejin.cn/user/1007624544587789" target="_blank"> 掘金</a>
            </li>
            <li>
              <a href="https://www.zhihu.com/people/ll-uncle" target="_blank"> 知乎</a>
            </li>
            <li>
              <a href="https://www.zhihu.com/people/ll-uncle" target="_blank"> 知乎</a>
            </li>
            <li>
              <a href="https://imgloc.com/i/JIqwN"><img src="https://i.328888.xyz/2023/03/15/JIqwN.png" alt="JIqwN.png" border="0" /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>我常常将人看做机器，他输出了什么，常常取决于他输入了什么。</li>
            <li>屏蔽垃圾输入，寻求优质信息源， 才能输出优质信息。</li>
            <li>看到这，你已经被我的观念输入一遍了。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              有点多，我下次整理一下。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
