---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>研究方向：计算机视觉，推荐系统，风控</li>
            <li>爱好：阅读，慢跑，做菜，摄影</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/UncleLLD" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://blog.csdn.net/uncle_ll" target="_blank"> CSDN</a>
            </li>
            <li>
              <a href="https://juejin.cn/user/1007624544587789" target="_blank"> 掘金</a>
            </li>
            <li>
              <a href="https://www.zhihu.com/people/ll-uncle" target="_blank"> 知乎</a>
            </li>
            <li>
              <a href="https://www.zhihu.com/people/ll-uncle" target="_blank"> 知乎</a>
            </li>
            <li>
              <a href="https://mp.weixin.qq.com/s/5t_GyHEV3j_K0dqJ_x2YtQ" target="_blank">微信公众号</a>
            </li>
			<img src="/images/weixingongzhonghao.jpg" alt="AI科技时讯" width="400" height="341" />
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>多经历，平常心，知足常乐，保持童心。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              参见本站，以及相关的链接。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
